<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>HSS Award-Winning Books in the History of Science</title>
    <meta name="description"
        content="Award-winning books in the history of science, as recognized by the History of Science Society. Search, sort, and find your next read in the history of science.">
    <link rel="stylesheet" href="style.css">

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@hssonline">
    <meta name="twitter:title" content="HSS Award-Winning Books in the History of Science">
    <meta name="twitter:description"
        content="Award-winning books in the history of science, as recognized by the History of Science Society. Search, sort, and find your next read in the history of science.">
    <meta name="twitter:creator" content="@theroyalfig">
    <meta name="twitter:image" content="https://hssonline.org/books/meta.jpg">

    <meta property="og:title" content="HSS Award-Winning Books in the History of Science" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="https://hssonline.org/books" />
    <meta property="og:image" content="https://hssonline.org/books/meta.jpg" />
    <meta property="og:description"
        content="Award-winning books in the history of science, as recognized by the History of Science Society. Search, sort, and find your next read in the history of science." />
    <meta property="og:site_name" content="History of Science Society" />
    <meta property="fb:admins" content="77247831395" />
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-5101015-2"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-5101015-2');
    </script>

</head>

<body id="list">
    <nav class="nav">
        <ul class="item-container flex-row">
            <li class="item"><a href="https://hssonline.org">History of Science Society</a></li>
            <li class="item"><a href="https://hssonline.org/about/honors/">About our Prizes</a></li>
            <li class="item"><a href="https://hssonline.formstack.com/forms/prize_nominations">Submit a Nomination</a>
            </li>
            <li class="item"><a href="https://hssonline.org/membership/subscriptions/">Join HSS</a></li>
            <li class="item"><a href="https://hssonline.org/get-involved/giving-to-the-hss/">Support HSS</a></li>
        </ul>
    </nav>

    <header class="header container flex-col">
        <h1 class="site-title">History of Science&nbsp;Society</h1>
        <h2 class="subheader">Award-Winning Books in the History of Science</h2>
    </header>

    <section id="top" class="filters flex-row">
        <div class="container">
            <input class="search" type="text" placeholder="Search.." aria-label="search">
            <div class="buttons-container">
                <p class="sort-style">Sort&nbsp;⇅</p>
                <div class="buttons flex-row">
                    <button class="sort" data-sort="prize">Prize</button>
                    <button class="sort" data-sort="title">Title</button>
                    <button class="sort" data-sort="prizeyear">Prize&nbsp;Year</button>
                    <button class="sort" data-sort="pubyear">Publication&nbsp;Year</button>
                    <button class="sort" data-sort="author">Author</button>
                </div>
            </div>
        </div>
    </section>
    <section class="container flex-row list">
        {{#each awards}}
        <article aria-label="{{title}} by {{author}}" class="card-container" data-title="{{title}}"
            data-prize="{{prize}}" data-author="{{author}}" data-year="{{prizeYear}}">
            <a class="card-link flex-col" href="{{url}}">
                <header class="card-header">

                    <img class="bg-img" alt="" src="{{img}}">

                    <img class="book-cover" alt="{{title}} by {{author}}" src="{{img}}">
                </header>
                <div class="card-divider flex-row"></div>
                <section class="card-body flex-col">
                    <div class="card-body-top flex-col">
                        <p class="prize">{{prize}} <span class="prizeyear">{{prizeYear}}</span></p>
                        <h2 class="title">{{title}}</h2>
                        <p class="publisher">{{pub}}, <span class="pubyear">{{pubYear}}</span></p>
                    </div>
                    <p class="author" data-last="{{last}}">{{author}}</p>
                </section>
            </a>
        </article>
        {{/each}}

    </section>
    <footer class="footer container">
        <p>Titles above include affiliate links to books. HSS may receive a small commission for purchases
            made through these links.</p>
    </footer>

    <script src="//cdnjs.cloudflare.com/ajax/libs/list.js/1.5.0/list.min.js" crossorigin></script>
    <script>
        const options = {
            valueNames: ['title', 'prize', 'prizeyear', 'pubyear',
                { name: 'author', attr: 'data-last' }]
        };
        const prizes = new List('list', options);
    </script>
</body>

</html>